@using eggWeb.Models.viewmodel
@model VM_EGG
<style>
    .nav-film-x {
	background-color: #ffffff;
	border-top: 6px dashed  #000;
	border-bottom: 6px dashed  #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
  }
    .nav-film-y {
	background-color: #ffffff;
	border-left: 6px dashed  #000;
	border-right: 6px dashed  #000;
	box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
	margin-bottom: 1px;
   }


    body {
        overflow: hidden;
    }

    .pointer {
        cursor: pointer;
    }

    .center {
        text-align: center;
    }
      .right {
        text-align: right;
    }
       .left {
        text-align: left;
    }
    #homeVisible, #homeVisible .block, #homeVisible .md-content {
        background-color: #FFC107;
    }

    #funcVisible, #funcVisible .block, #funcVisible .md-content {
        /*background-color: #FFC107;*/
    }

    .use-flexbox{
        display:flex;
        align-items:center;
        justify-content:center;
    }

      .page-container {
        overflow: hidden;
        position: relative;
        border: 1px solid rgba(#000, .12);
    }

    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }

    .md-content {
        padding: 16px;
    }
    #infoVisible .md-card {
        margin: 4px;
        display: inline-block;
        vertical-align: top;
      }
     #eventVisible .md-card {
        width: 320px;
        margin: 4px;
        display: inline-block;
        vertical-align: top;
      }

      #scrollTopBtn{
              display: none;
              position: fixed;
              bottom: 20px;
              right: 30px;
              z-index: 99;
              font-size: 18px;
              border: none;
              outline: none;
              background-color: red;
              color: white;
              cursor: pointer;
              padding: 15px;
              border-radius: 4px;
         }
     
</style>
<div class="page-container" id="MyApp">
    @*<md-button class="md-icon-button" id="scrollTopBtn">
            <md-icon><i class="fas fa-home"></i></md-icon>
        </md-button>*@
    <button v-on:click="topFunction" id="scrollTopBtn" title="Go to top"><i class="fas fa-home"></i></button>
    <!-- ... 畫面主功能 ... -->
    <div id="content">
        <!-- ... 首頁 ... -->
        <div class="block" id="homeVisible">
            <md-content>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center">
                        <img src="~/Images/logo.svg" width="150" />
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center">
                        <img src="~/Images/egg_data.png" width="150" style="padding: 25px;" />
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center">
                        <p>雞蛋是營養價值非常豐富的食物，可以做成許多美味的料理，出現在你我的三餐中</p>
                        <p>在食用雞蛋的同時，您是否真正了解雞蛋呢??就讓危雞百顆來為您解答吧!</p>
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center pointer">
                        <img src="~/Images/go.png" width="150" v-on:click="toggleFunction(1)" style="padding: 25px;" />
                    </div>
                </div>
            </md-content>
        </div> <!-- ... 首頁 ... -->
        <!-- ... 功能畫面 ... -->
        <div class="block" id="funcVisible" >
            <md-content id="func_block" style="overflow:auto;" class="md-scrollbar">
                <div  class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 center pointer">
                            <img src="~/Images/test_fun.svg" width="250" v-on:click="toggleFunction(2)" />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 center pointer">
                            <img src="~/Images/info_fun.svg" width="250" v-on:click="toggleFunction(3)" />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 center pointer">
                            <img src="~/Images/event_fun.svg" width="250" v-on:click="toggleFunction(4)" />
                        </div>
                        <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 center pointer">
                            <img src="~/Images/bot_fun.svg" width="250" v-on:click="toggleFunction(5)" />
                        </div>
                    </div>
                </div>
            </md-content>
        </div><!-- ... 功能畫面 ... -->
        <!-- ... 蛋蛋測驗區 ... -->
        <div class="block" id="testVisible">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-section-start">
                    <img src="~/Images/test_title.svg" />
                </div>
                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon><i class="fas fa-bars"></i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content class="md-scrollbar"  style="overflow:auto;">
                <template  v-if="nowFunc == 'testVisible'">
                    <md-steppers md-vertical id="testSteppers"   >
                        <md-step id="a" md-label="來源管道" md-description="你在哪裡和蛋蛋的健康也有關係唷!">
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item">
                                    <img src="~/Images/map.png" width="400" />
                                </div>
                                <div class="md-layout-item">
                                    <md-button class="md-raised md-primary">北</md-button>
                                    <md-button class="md-raised md-primary">中</md-button>
                                    <md-button class="md-raised md-primary">南</md-button>
                                </div>
                            </div>
                        </md-step>

                        <md-step id="b" md-label="購買管道" md-description="你在哪裡買也和蛋蛋的健康有關係唷!">
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item">
                                    <img src="~/Images/egg.png" width="400" />
                                    
                                </div>
                                <div class="md-layout-item">
                                    <md-button class="md-raised md-primary">傳統市場</md-button>
                                    <md-button class="md-raised md-primary">量販店冷藏</md-button><br />
                                    <md-button class="md-raised md-primary">便利商店</md-button>
                                    <md-button class="md-raised md-primary">量販店未冷藏區</md-button>
                                </div>
                            </div>
                        </md-step>

                        <md-step id="c" md-label="購買日期" md-description="蛋蛋從接觸空氣開始，新鮮度會開始降低!">
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item">
                                    購買日期:<br />
                                    <h1>{{test.buy_date}}</h1>
                                </div> 
                                <div class="md-layout-item">
                                    <vuejs-datepicker :inline="true" v-model="test.buy_date"></vuejs-datepicker>
                                </div>
                            </div>
                        </md-step>

                        <md-step id="d" md-label="保存方式" md-description="蛋蛋放在哪裡也和新鮮度有關係唷!">
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item">
                                    <img src="~/Images/icons8-fridge-96.png" />
                                    <br /><h1>冷藏</h1>
                                </div>
                                <div class="md-layout-item">
                                    <img src="~/Images/icons8-table-96.png" />
                                    <br /><h1>常溫</h1>
                                </div>
                            </div>
                        </md-step>

                        <md-step id="e" md-label="外觀" md-description="蛋蛋帥不帥和漂不漂也有關係唷!">
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item center">
                                    <img src="~/Images/egg.png" />
                                </div>
                                <div class="md-layout-item">
                                    <div class="md-layout-item md-layout md-gutter">
                                        <div class="md-layout-item">
                                            蛋殼是否有裂痕&emsp;&emsp;
                                            <md-radio v-model="test.radio" value="0" class="md-primary">無</md-radio>
                                            <md-radio v-model="test.radio" value="1">有<small></small></md-radio>
                                        </div>
                                    </div>
                                    <div class="md-layout-item md-layout md-gutter">
                                        <div class="md-layout-item"></div>
                                    </div>
                                    <div class="md-layout-item md-layout md-gutter">
                                        <div class="md-layout-item">
                                            蛋的品種&emsp;&emsp;
                                            <md-radio v-model="test.radio2" value="0" class="md-primary">蛋殼白色</md-radio>
                                            <md-radio v-model="test.radio2" value="1">蛋殼土黃色<small></small></md-radio>
                                        </div>
                                    </div>
                                    <div class="md-layout-item md-layout md-gutter">
                                        <div class="md-layout-item"></div>
                                    </div>
                                    <div class="md-layout-item md-layout md-gutter">
                                        <div class="md-layout-item">
                                            <md-field>
                                                <label>是否新鮮</label>
                                                <md-select>
                                                    <md-option value="a">a.新鮮蛋</md-option>
                                                    <md-option value="b">b.新鮮度較差(一週後)</md-option>
                                                    <md-option value="c">c.新鮮度更差</md-option>
                                                    <md-option value="d">d.不新鮮</md-option>
                                                    <md-option value="e">e.非常不新鮮</md-option>
                                                </md-select>
                                                <span class="md-helper-text">
                                                    浸水法，判斷氣室大小
                                                </span>
                                            </md-field>
                                        </div>
                                        <div class="md-layout-item">
                                            <img src="~/Images/egg_function.jpg" width="180px;" />
                                        </div>
                                    </div>
                                    <div class="md-layout-item md-layout md-gutter">
                                        <div class="md-layout-item"></div>
                                    </div>
                                </div>
                            </div>
                        </md-step>

                        <md-step id="f" md-label="健康指數" md-description="根據你的蛋蛋狀況算出你的蛋蛋新鮮度!">
                            <div class="md-layout md-gutter md-alignment-center-center">
                                <div class="md-layout-item">
                                    健康指數
                                </div>
                            </div>
                        </md-step>
                    </md-steppers>
                </template>
                <template v-else>
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item center">
                            <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
                        </div>
                    </div>
                </template>
            </md-content>
        </div> <!-- ... 蛋蛋測驗區 ... -->
        <!-- ... 蛋蛋知識區 ... -->
        <div class="block" id="infoVisible">
            <md-toolbar class="md-primary" md-theme="purple_theme">
                <div class="md-toolbar-section-start">
                    <img src="~/Images/info_title.svg" />
                </div>
                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon><i class="fas fa-bars"></i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <md-menu :md-active.sync="toggleInfoMenu" md-direction="bottom-end">
                    <md-button md-menu-trigger>危雞知識庫<strong>{{toggleInfoMenuTitle}}</strong></md-button>
                    <md-menu-content>
                        <md-menu-item v-for="j in tabList" v-on:click="toggleInfoMenu = !toggleInfoMenu;toggleInfoMenuTitle = ':'+j.M_DESC;">
                            <md-button>
                                {{j.M_DESC}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu >
                    <md-button>危雞百顆小測驗</md-button>
                </md-menu>
                 <md-content>
                     <template v-if="nowFunc == 'infoVisible'">
                         <template :md-active.sync="info.isShow">
                             <md-content v-for="j in tabList" :id="'tab-type'+j.M_ID" :md-label="j.M_DESC" v-show="toggleInfoMenuTitle == ':'+j.M_DESC"  >
                                 <md-content :id="'tab-type'+j.M_ID + 'content'" style="overflow:auto;">
                                     <div class="md-layout md-gutter md-alignment-center" v-for="i in info.infoList.filter(x => x.M_ID == j.M_ID)">
                                         <div class="md-layout-item">
                                             <md-card>
                                                 <md-card-header>
                                                     <md-content class="md-scrollbar">
                                                         <div class="md-layout md-gutter md-alignment-top-center">
                                                             <div class="md-layout-item md-size-5">
                                                                 <i class="fab fa-quora"></i>
                                                             </div>
                                                             <div class="md-layout-item">
                                                                 <div class="md-title">{{i.Q_DESC}}</div>
                                                             </div>
                                                         </div>
                                                     </md-content>
                                                 </md-card-header>
                                                 <md-card-content>
                                                     <md-content class="md-scrollbar" v-if="i.isShow">
                                                         <div class="md-layout md-gutter md-alignment-top-center">
                                                             <div class="md-layout-item md-size-5">
                                                                 <i class="fas fa-check-circle"></i>
                                                             </div>
                                                             <div class="md-layout-item">
                                                                 {{i.Q_MEMO}}
                                                             </div>
                                                         </div>
                                                     </md-content>
                                                     <md-content class="md-scrollbar" v-else>
                                                         <div class="md-layout md-gutter md-alignment-top-center">
                                                             <div class="md-layout-item md-size-5">
                                                                 <i class="fas fa-check-circle"></i>
                                                             </div>
                                                             <div class="md-layout-item pointer">
                                                                 <md-list>
                                                                     <md-list-item v-on:click="i.isShow = !i.isShow">
                                                                         <i class="fas fa-eye"></i>
                                                                         <span class="md-list-item-text">&ensp;show me Anser</span>
                                                                     </md-list-item>
                                                                 </md-list>
                                                             </div>
                                                         </div>
                                                     </md-content>
                                                 </md-card-content>
                                             </md-card>
                                         </div>
                                     </div>
                                 </md-content>
                             </md-content>
                         </template>
                     </template>
                     <template v-else>
                         <div class="md-layout md-gutter md-alignment-center">
                             <div class="md-layout-item center">
                                 <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
                             </div>
                         </div>
                     </template>
                 </md-content>
                 
                
            </md-content>
        </div> <!-- ... 蛋蛋知識區 ... -->
        <!-- ... 蛋蛋事件區 ... -->
        <div class="block" id="eventVisible">
            <md-toolbar class="md-primary" md-theme="orange_theme">
 
                <div class="md-toolbar-section-start">
                    <img src="~/Images/event_title.svg" />
                </div>
                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon><i class="fas fa-bars"></i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
               <template v-if="nowFunc == 'eventVisible'">
                   <md-content id="eventCard" style="overflow:auto;" class="md-scrollbar">
                       <div class="md-layout md-gutter md-alignment-center" v-for="i in event.eventList">
                           <div class="md-layout-item">
                               <span class="md-title">{{i.EVENT_DATE}}</span><br />
                               <span class="md-title">{{i.EVENT_TITLE}}</span>
                           </div>
                           <div class="md-layout-item md-medium-size-40 md-small-size-40 md-xsmall-size-40 center pointer">
                               <md-card>
                                   <md-card-media-cover md-text-scrim>
                                       <md-card-media md-ratio="16:9">
                                           <img v-bind:src="'@(Url.Content("~/Images/EVENT/"))'+i.EVENT_FILE" alt="Skyscraper" class="nav-film-y">
                                       </md-card-media>

                                       <md-card-area>
                                           <md-card-header>
                                           
                                           </md-card-header>
                                           <md-card-actions>
                                               <md-button :href="i.EVENT_URL" target="_blank">GO</md-button>
                                           </md-card-actions>
                                       </md-card-area>
                                   </md-card-media-cover>
                               </md-card>
                               
                           </div>
                          
                           <div class="md-layout-item ">
                               <span class="md-subhead">{{i.EVENT_DESC}}...</span>
                           </div>
                       </div>
                   </md-content>
               </template>
                <template v-else>
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item center">
                            <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
                        </div>
                    </div>
                </template>
            </md-content>
        </div> <!-- ... 蛋蛋事件區 ... -->
        <!-- ... 蛋蛋機器人 ... -->
        <div class="block" id="botVisible">
            <md-toolbar class="md-primary" md-theme="green_theme">
               
                <div class="md-toolbar-section-start">
                    <img src="~/Images/bot_title.svg" />
                </div>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon><i class="fas fa-bars"></i></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content  >
                <template  v-if="nowFunc == 'botVisible'">
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item right">
                            <i class="fab fa-line fa-10x md-primary" style="color: green;"></i>
                            @*<br />LINE*@
                        </div>
                        <div class="md-layout-item center">
                            <i class="fas fa-times fa-5x"></i>
                        </div>
                        <div class="md-layout-item left">
                            <img src="~/Images/logo.svg" width="150" />
                            @*<br /><img src="~/Images/egg_data.png" width="50" />*@
                        </div>  
                    </div>
                 
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item center">
                            <img src="~/Images/lineBotQRCode.jpg" />
                        </div>
                    </div>
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item center">
                            掃描QRCode 加入好友
                        </div>
                    </div>
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item center">
                          
                        </div>
                    </div>
                </template>
                
                <template v-else>
                    <div class="md-layout md-gutter md-alignment-center">
                        <div class="md-layout-item center">
                            <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
                        </div>
                    </div>
                </template>
            </md-content>
        </div> <!-- ... 蛋蛋機器人 ... -->
    </div><!-- ... 畫面主功能 ... -->
    <!-- ... 側邊選單 ... -->
    <md-drawer class="md-right" :md-active.sync="showNavigation">
        <md-toolbar class="md-transparent" md-elevation="0">
            <div class="md-toolbar-section-start">
                <md-button class="md-icon-button md-dense" v-on:click="showNavigation = !showNavigation">
                    <md-icon><i class="fas fa-angle-right"></i></md-icon>
                </md-button>
                <span v-on:click="toggleFunction(0)">
                    <img src="~/Images/logo_text.svg" width="150" />
                </span>
            </div>
        </md-toolbar>
        <md-list>
 
            <md-list-item v-on:click="toggleFunction(2)">
                <img src="~/Images/test_title.svg" />
            </md-list-item>

            <md-list-item v-on:click="toggleFunction(3)">
                <img src="~/Images/info_title.svg" />
            </md-list-item>
            <md-list-item v-on:click="toggleFunction(4)">
                <img src="~/Images/event_title.svg" />
            </md-list-item>
            <md-list-item v-on:click="toggleFunction(5)">
                <img src="~/Images/bot_title.svg" />
            </md-list-item>
 
        </md-list>
    </md-drawer> <!-- ... 側邊選單 ... -->
</div>
@section scripts {
    <script>
 
        var set_vm = {
            toggleInfoMenu: false,
            toggleInfoMenuTitle:'',
            nowFunc:'',
            DivList:[],
            showNavigation: false,//顯示側邊功能選單
            scrolling: false,//是否正在滾動
            allowNextAnimation: true,//是否正在滾動Animation
            setView: '',//設定指定頁面
            home: {},
            func: {},
            test: { step: 0, radio: '0', radio2: '0', buy_date: '@(DateTime.Now.ToString("yyyy-MM-dd"))' },
            info: { infoList: [], infoTest:[],isShow:false},
            event: { eventList: [], isShow: false },
            bot: {},
        };
        var vm = new Vue({
            name: 'eggData',
            data: Object.assign(set_vm, JSON.parse('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))')),
            methods: {
                toggleFunction: function (pView, pTime) {
                    //移動至指定功能
                    this.showNavigation = false;
                    pTime = !!pTime ? pTime : 500;
                    this.setView = pView;
                    console.log(this.setView);
                    setTimeout(function () {
                        $('#content').animate({ scrollTop: vm.topList[vm.setView] }, 500, function () {
                            vm.scrolling = false;
                            vm.allowNextAnimation = false;
                            vm.nowFunc = vm.DivList[pView];
                            vm.scrollFunction();
                            return false;
                        });
                    }, 200);
                },//toggleFunction
                scrollFunction:function(){
                    if ($("#homeVisible").offset().top < 0) {
                        document.getElementById("scrollTopBtn").style.display = "block";
                    } else {
                        document.getElementById("scrollTopBtn").style.display = "none";
                    }
                },//scrollFunction
                topFunction:function(){
                    this.toggleFunction(0);
                },//topFunction
                setScroll: function () {
                    //// should start at 0
                    var nowDiv = 0;
                    $('#content').on('scroll touchmove mousewheel', function (event) {
                        if ((!this.scrolling && this.allowNextAnimation) || !!this.setView) {
                            this.scrolling = true;
                            console.log($('#content').scrollTop());
                            nowDiv = this.topList.indexOf($('#content').scrollTop());
                            console.log('之前:' + nowDiv);
                            if (nowDiv >= 0) {
                                if (event.originalEvent.wheelDelta >= 0) {
                                    console.log('Scroll up');
                                    if (nowDiv >= 0) {
                                        if (nowDiv >= this.topList.length - 1) {
                                            nowDiv = 0;
                                        } else {
                                            nowDiv = nowDiv + 1;
                                        }
                                    }
                                }
                                else {
                                    console.log('Scroll down');
                                    if (nowDiv >= 0) {
                                        if (nowDiv <= 0) {
                                            nowDiv = this.DivList.length - 1;
                                        } else {
                                            nowDiv = nowDiv - 1;
                                        }
                                    }
                                }
                            }
                            console.log(this.setView);
                            if (!this.setView) {
                                $('#content').animate({ scrollTop: topList[nowDiv] }, 1000, function () {
                                    this.scrolling = false;
                                    this.allowNextAnimation = false;
                                });
                                console.log('現在:' + nowDiv);
                            }
                            this.setView = '';
                            return false;
                        }
                        this.allowNextAnimation = true;
                    });
                }//setScroll

            },//methods
            computed: {

            },//computed
            watch: {
                nowFunc: function (value) {
                    switch (value) {
                        case 'infoVisible':
                            setTimeout(function () {
                                //$('#infoLab').css('height', window.innerHeight - $('#infoLab').offset().top);
                                for (var i = 1; i < 7; i++) {
                                    $('#tab-type' + i + 'content').css('height', window.innerHeight - $('#tab-type' + i + 'content').offset().top);
                                }
                            }, 500);
                            break;
                        case 'funcVisible':
                            setTimeout(function () { $('#func_block').css('height', window.innerHeight - $('#func_block').offset().top); }, 500);
                            break;
                        case 'eventVisible':
                            setTimeout(function () { $('#eventCard').css('height', window.innerHeight - $('#eventCard').offset().top); }, 500);
                            break;
                        case 'testVisible':
                            setTimeout(function () { $('#testSteppers').css('height', window.innerHeight - $('#testSteppers').offset().top); }, 500);
                            break;
                        default:
                            break;
                    }
                }
            },//watch
            mounted() {
                //畫面初始設定，只會在載入時執行一次
                this.setView='';
                $('#content').css('height', window.innerHeight - $('#content').offset().top).css('overflow', 'hidden');
                $('.block').css('height', window.innerHeight - $('#content').offset().top);
                $(window).scrollTop(0);
                this.DivList = ['homeVisible', 'funcVisible', 'testVisible', 'infoVisible', 'eventVisible', 'botVisible'];
                var topHeght = $("#homeVisible").offset().top;
                this.topList = [0, $("#" + this.DivList[1]).offset().top - topHeght,
                                $("#" + this.DivList[2]).offset().top - topHeght,
                                $("#" + this.DivList[3]).offset().top - topHeght,
                                $("#" + this.DivList[4]).offset().top - topHeght,
                                $("#" + this.DivList[5]).offset().top - topHeght];

                //取的Info資料
                this.$http.post('/Home/getInfo').then((response) => {
                    this.info.infoList = Object.assign([], response.data);
                    vm.info.isShow = true;
                }, (response) => {

                });
                //取的Info資料
                this.$http.post('/Home/getEvent').then((response) => {
                    this.event.eventList = Object.assign([], response.data);
                    vm.event.isShow = true;
                }, (response) => {

                });
                //this.toggleFunction(2);
            },//mounted
            components: {
                vuejsDatepicker
            }
        }).$mount("#MyApp");
    </script>
}

 
 


