<style>
    body {
        overflow: hidden;
    }

    .center {
        text-align: center;
    }

    #homeVisible, #homeVisible .block, #homeVisible .md-content {
        background-color: #FFC107;
    }

    #funcVisible, #funcVisible .block, #funcVisible .md-content {
        /*background-color: #FFC107;*/
    }

    .use-flexbox{
        display:flex;
        align-items:center;
        justify-content:center;
    }
 
</style>
<div class="page-container" id="MyApp">
    <div id="content">
        <div class="block" id="homeVisible">
            <md-content>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center"><img src="~/Images/logo.png" width="350" /></div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center">
                        <h1>Egg Data</h1>
                        <strong> </strong>
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center">
                        <md-button class="md-raised md-primary" v-on:click="toggleFunction(1)">GO</md-button>
                    </div>
                </div>
            </md-content>
        </div>
        <div class="block use-flexbox" id="funcVisible">
            <md-content>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center" v-on:click="toggleFunction(2)">
                        <i class="fas fa-file-alt fa-10x"></i>
                    </div>
                    <div class="md-layout-item center" v-on:click="toggleFunction(3)">
                        <i class="fab fa-linux fa-10x"></i>
                    </div>
                    <div class="md-layout-item center" v-on:click="toggleFunction(4)">
                        <i class="fas fa-film fa-10x"></i>
                    </div>
                    <div class="md-layout-item center" v-on:click="toggleFunction(5)">
                        <i class="fab fa-line fa-10x"></i>
                    </div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center" v-on:click="toggleFunction(2)">蛋蛋檢測區</div>
                    <div class="md-layout-item center" v-on:click="toggleFunction(3)">蛋蛋長知識</div>
                    <div class="md-layout-item center" v-on:click="toggleFunction(4)">蛋蛋大事件</div>
                    <div class="md-layout-item center" v-on:click="toggleFunction(5)">蛋蛋Bot</div>
                </div>
                <div class="md-layout md-gutter md-alignment-center">
                    <div class="md-layout-item center">測試你的蛋蛋健不健康</div>
                    <div class="md-layout-item center">蛋蛋汁多少，你對你的雞蛋了解嗎?</div>
                    <div class="md-layout-item center">蛋蛋的一生，以台灣新聞為例</div>
                    <div class="md-layout-item center">LineBot，告訴你蛋蛋234</div>
                </div>
            </md-content>
        </div>
        <div class="block" id="testVisible">
            <md-toolbar class="md-primary">
 
                <span class="md-title">testVisible</span>
                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <md-steppers>
                    <md-step id="a" md-label="來源管道">
                        <table class="table">
                            <tr>
                                <td style="width:50%;">
                                    <img src="~/Images/map.png" />
                                </td>
                                <td style="text-align:center;vertical-align:middle;width:50%">
                                    <md-button class="md-raised md-primary">北</md-button>
                                    <md-button class="md-raised md-primary">中</md-button>
                                    <md-button class="md-raised md-primary">南</md-button>
                                </td>
                            </tr>
                        </table>

                    </md-step>
                    <md-step id="b" md-label="購買管道">
                        <table class="table" style="margin-top: 50px;">
                            <tr>
                                <td rowspan="2" style="text-align:center;vertical-align:middle;width:50%">
                                    <img src="~/Images/egg.png" />
                                </td>
                                <td style="text-align:center;vertical-align:middle;width:50%">
                                    <md-button class="md-raised md-primary">傳統市場</md-button>
                                    <md-button class="md-raised md-primary">量販店冷藏</md-button>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center;vertical-align:middle;width:50%">
                                    <md-button class="md-raised md-primary">便利商店</md-button>
                                    <md-button class="md-raised md-primary">量販店未冷藏區</md-button>
                                </td>
                            </tr>
                        </table>
                    </md-step>
                    <md-step id="c" md-label="購買日期" class="row">
                        <div class="md-layout md-gutter md-alignment-center">
                            <div class="md-layout-item center">
                                <img src="~/Images/egg.png" />
                            </div>
                            <div class="md-layout-item center">
                                <vuejs-datepicker :inline="true"></vuejs-datepicker>
                            </div>
                        </div>
                    </md-step>
                    <md-step id="d" md-label="保存方式">
                        <div class="md-layout md-gutter md-alignment-center">
                            <div class="md-layout-item center">
                                <img src="~/Images/icons8-fridge-96.png" />
                                <br /><h1>冷藏</h1>
                            </div>
                            <div class="md-layout-item center">
                                <img src="~/Images/icons8-table-96.png" />
                                <br /><h1>常溫</h1>
                            </div>
                        </div>
                    </md-step>
                    <md-step id="e" md-label="外觀" class="row">
                        <div class="md-layout md-gutter md-alignment-center">
                            <div class="md-layout-item center">
                                <img src="~/Images/egg.png" />
                            </div>
                            <div class="md-layout-item">
                                <div class="md-layout-item md-layout md-gutter">
                                    <div class="md-layout-item">
                                        蛋殼是否有裂痕&emsp;&emsp;
                                        <md-radio v-model="radio" value="0" class="md-primary">無</md-radio>
                                        <md-radio v-model="radio" value="1">有<small></small></md-radio>
                                    </div>
                                </div>
                                <div class="md-layout-item md-layout md-gutter">
                                    <div class="md-layout-item"></div>
                                </div>
                                <div class="md-layout-item md-layout md-gutter">
                                    <div class="md-layout-item">
                                        蛋的品種&emsp;&emsp;
                                        <md-radio v-model="radio2" value="0" class="md-primary">蛋殼白色</md-radio>
                                        <md-radio v-model="radio2" value="1">蛋殼土黃色<small></small></md-radio>
                                    </div>
                                </div>
                                <div class="md-layout-item md-layout md-gutter">
                                    <div class="md-layout-item"></div>
                                </div>
                                <div class="md-layout-item md-layout md-gutter">
                                    <div class="md-layout-item">
                                        <md-field>
                                            <label>是否新鮮</label>
                                            <md-select>
                                                <md-option value="a">a.新鮮蛋</md-option>
                                                <md-option value="b">b.新鮮度較差(一週後)</md-option>
                                                <md-option value="c">c.新鮮度更差</md-option>
                                                <md-option value="d">d.不新鮮</md-option>
                                                <md-option value="e">e.非常不新鮮</md-option>
                                            </md-select>
                                            <span class="md-helper-text">
                                                浸水法，判斷氣室大小
                                            </span>
                                        </md-field>
                                    </div>
                                    <div class="md-layout-item">
                                        <img src="~/Images/egg_function.jpg" width="180px;" />
                                    </div>
                                </div>
                                <div class="md-layout-item md-layout md-gutter">
                                    <div class="md-layout-item"></div>
                                </div>
                                <div class="md-layout-item md-layout md-gutter">
                                    <div class="md-layout-item">
                                        <md-field>
                                            <label>補充說明</label>
                                            <md-textarea></md-textarea>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-step>
                    <md-step id="f" md-label="健康指數">
                        <div class="md-layout md-gutter md-alignment-center">
                            <div class="md-layout-item center">
                                健康指數
                            </div>
                        </div>
                    </md-step>
                </md-steppers>
            </md-content>
        </div>
        <div class="block" id="infoVisible">
            <md-toolbar class="md-primary" md-theme="purple_theme">
 
                <span class="md-title">infoVisible</span>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <p v-for="i in 5">
                    BBLorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.
                </p>
            </md-content>
        </div>
        <div class="block" id="eventVisible">
            <md-toolbar class="md-primary" md-theme="purple_theme">
 
                <span class="md-title">eventVisible</span>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <p v-for="i in 5">
                    BBLorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.
                </p>
            </md-content>
        </div>
        <div class="block" id="botVisible">
            <md-toolbar class="md-primary" md-theme="purple_theme">
               
                <span class="md-title">botVisible</span>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" v-on:click="showNavigation = true">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <p v-for="i in 5">
                    BBLorem ipsum dolor sit amet, consectetur adipisicing elit. Error quibusdam, non molestias et! Earum magnam, similique, quo recusandae placeat dicta asperiores modi sint ea repudiandae maxime? Quae non explicabo, neque.
                </p>
            </md-content>
        </div>
    </div>
    <md-drawer class="md-right" :md-active.sync="showNavigation">
        <md-toolbar class="md-transparent" md-elevation="0">
            <div class="md-toolbar-section-start">
                <md-button class="md-icon-button md-dense" v-on:click="showNavigation = !showNavigation">
                    <md-icon>keyboard_arrow_right</md-icon>
                </md-button>
            </div>
            <span class="md-toolbar-section-start" v-on:click="toggleFunction(0)"><img style="margin-left:15px;" class="circle" src="~/Images/logo.png" width="40%" /></span>
            <div class="md-toolbar-section-end">
                <h4>Egg Data</h4>
            </div>
        </md-toolbar>
        <md-list>
 
            <md-list-item v-on:click="toggleFunction(2)">
                <md-icon><i class="fas fa-pencil-alt"></i></md-icon>
                <span class="md-list-item-text">蛋蛋測試區</span>
            </md-list-item>

            <md-list-item v-on:click="toggleFunction(3)">
                <md-icon><i class="fas fa-info-circle"></i></md-icon>
                <span class="md-list-item-text">蛋蛋長知識</span>
            </md-list-item>
            <md-list-item v-on:click="toggleFunction(4)">
                <md-icon><i class="fas fa-info-circle"></i></md-icon>
                <span class="md-list-item-text">蛋蛋大事件</span>
            </md-list-item>
            <md-list-item v-on:click="toggleFunction(5)">
                <md-icon><i class="fas fa-info-circle"></i></md-icon>
                <span class="md-list-item-text">蛋蛋Bot</span>
            </md-list-item>
 
        </md-list>
    </md-drawer>
</div>
<script>
    var vm = new Vue({
        name: 'PersistentMini',
        data: () => ({
            showNavigation: false,
            showSidepanel: false,
            scrolling: false,
            allowNextAnimation: true,
            setView: '',
            radio: '0', radio2: '0'
        }),
        methods: {
            toggleFunction: function (pView, pTime) {
                pTime = !!pTime ? pTime : 500;
                this.setView = pView;
                console.log(this.setView);
                setTimeout(function () {
                    $('#content').animate({ scrollTop: vm.topList[vm.setView] }, 500, function () {
                        vm.scrolling = false;
                        vm.allowNextAnimation = false;
                        return false;
                    });
                }, 200);
            }
        },
        mounted() {
            this.setView='';
            $('#content').css('height', window.innerHeight - $('#content').offset().top).css('overflow', 'hidden');
            $('.block').css('height', window.innerHeight - $('#content').offset().top);
            $(window).scrollTop(0);
            var nowDiv = 0;
            var DivList = ['homeVisible', 'funcVisible', 'testVisible', 'infoVisible', 'eventVisible', 'botVisible'];
            var topHeght = $("#homeVisible").offset().top;
            var topList = [0, $("#" + DivList[1]).offset().top - topHeght,
                            $("#" + DivList[2]).offset().top - topHeght,
                            $("#" + DivList[3]).offset().top - topHeght,
                            $("#" + DivList[4]).offset().top - topHeght,
                            $("#" + DivList[5]).offset().top - topHeght];
            this.topList = topList;
            //// should start at 0
            //$('#content').on('scroll touchmove mousewheel', function (event) {
            //    if ((!this.scrolling && this.allowNextAnimation) || !!this.setView) {
            //        this.scrolling = true;
            //        console.log($('#content').scrollTop());
            //        nowDiv = topList.indexOf($('#content').scrollTop());
            //        console.log('之前:' + nowDiv);
            //        if (nowDiv >= 0) {
            //            if (event.originalEvent.wheelDelta >= 0) {
            //                console.log('Scroll up');
            //                if (nowDiv >= 0) {
            //                    if (nowDiv >= topList.length - 1) {
            //                        nowDiv = 0;
            //                    } else {
            //                        nowDiv = nowDiv + 1;
            //                    }
            //                }
            //            }
            //            else {
            //                console.log('Scroll down');
            //                if (nowDiv >= 0) {
            //                    if (nowDiv <= 0) {
            //                        nowDiv = DivList.length - 1;
            //                    } else {
            //                        nowDiv = nowDiv - 1;
            //                    }
            //                }
            //            }
            //        } 
            //        console.log(this.setView);
            //        if (!this.setView) {
            //            $('#content').animate({ scrollTop: topList[nowDiv] }, 1000, function () {
            //                this.scrolling = false;
            //                this.allowNextAnimation = false;
            //            });
            //            console.log('現在:' + nowDiv);
            //        }
            //        this.setView = '';
            //        return false;
            //    }
            //    this.allowNextAnimation = true;
            //});
        }
    }).$mount("#MyApp");
</script>
<style lang="scss" scoped>
    .page-container {
         
        overflow: hidden;
        position: relative;
        border: 1px solid rgba(#000, .12);
    }

    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }

    .md-content {
        padding: 16px;
    }
</style>
 
 


