
@{
    ViewBag.Title = "Index";
}
<link href="~/Scripts/county/index.css" rel="stylesheet" />

<svg width="100%" height="600px" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid"></svg>
<div id="info">
    <div id="name"></div>
    <div id="density"></div>
    <div id="unit">溫度</div>
</div> 
<!-- Content Here -->
<script src="~/Scripts/county/fisheye.js"></script>
<script src="~/Scripts/county/county.js"></script>
<script src="~/Scripts/county/index.js"></script>
<script src="~/Scripts/county/topojson.v1.min.js"></script>